@import "tailwindcss";

:root {
  --background: #f8f5f2;
  --foreground: #201E1F;
  --primary: #567568;
  --secondary: #FFEEDB;
  --accent: #DBD9DB;
  --accent-warm: #DE6B48;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201E1F;
    --foreground: #f8f5f2;
    --primary: #567568;
    --secondary: #FFEEDB; 
    --accent: #DBD9DB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

.window-content {
  height: calc(100% - 2rem);
}

